/* .card{
    width: 100%;
    padding: 6rem 1rem;
    background: black;
}

.price-contain{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;

} 
@media screen  and(){
    
} */